body {
    --black: #000000;
    --white: #ffffff;
    --green: #6d9773;
    --greened: #0c3a2d;
    --grey: #f2f2f2;
    --orange: #ffb902;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 30px;
    background-color: var(--black);
    color: var(--white);
    opacity: 0;
}

.bottom-line {
    display: inline-block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        transform: rotate(-1.48deg);
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 5px;
        background-color: var(--white);
    }
}

.arrow-scroll {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 40px;
    bottom: 38px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        height: 100%;
    }
}
