@font-face {
    font-family: FuturaPT;
    src: url("/fonts/FuturaPT-Light.ttf") format("opentype");
    font-weight: 300;
    font-style: light;
}
@font-face {
    font-family: FuturaPT;
    src: url("/fonts/FuturaPT-Book.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: FuturaPT;
    src: url("/fonts/FuturaPT-Demi.ttf") format("opentype");
    font-weight: 500;
    font-style: bold;
}
